.break {
    flex-basis: 100%;
    height: 0;
  }

input {
    width: 100px;
}



.lang-nav {
    margin-left: 25px;
}

.lang-nav li {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.header-area .palatin-main-menu .classy-navbar .classynav .lang-nav li a:hover {
    background-color: transparent;
}

#navMenu {
    padding-bottom: 10px;
}

.header-area .palatin-main-menu .classy-navbar .classynav ul li a {
    font-size: 14px;
}
.book-now-form {
    top: -50px;
}

.book-now-form form .form-group, .book-now-form form button {
    flex: 30%;
    max-width: 100%;
    min-height: 174px;
    height: auto;
}

.form-group {
    padding: 15px !important;
}

#message {
    height: 150px;
}

.second-section {
    display: flex;
}

.single-rooms-area {
    width: 90%;
    height: 490px;
}

#gallery {
    margin-bottom: 25px;
}
@media (min-width: 1200px){
    .container {
        max-width: 80% !important;
    }
}